<% layout("/layouts/boilerplate")%>
<body>
   <div class="row mt-3">
      <div class="col-8 offset-2">
   <h3> Edit your Listing</h3>
    <form method="POST" action="/listings/<%=listing._id%>/?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
          <label for="title" class="form-label">Title</label>
         <input name="listing[title]" value="<%=listing.title%>"type="text" class="form-control" >
       <div class="valid-feedback">title looks good</div>
        <div class="invalid-feedback">Please enter a valid title</div>
      </div>
        
          
     <div class="mb-3">
      <label for="Description" class="form-label">Description</label>
         <textarea name="listing[description]" class="form-control" type="text"> <%=listing.description%></textarea>
      <div class="invalid-feedback">Please enter a short description</div>
      </div>
         
      <div class="mb-3">
         Original Listing Image
         <br>
         <img src="<%=listing.image.url%>" alt="Listing Image" class="img-fluid rounded mb-3" style="max-height: 100px;">

      </div>


        <div  class="mb-3">
           <label for="Image" class="form-label">Upload New Image</label>
         <input name="listing[image]" type="file" value="<%=listing.image%>" class="form-control">
       <div class="invalid-feedback">Please enter a valid image</div>  
      </div>
        
            <div class="row"> <div class="mb-3 col-md-4">
            <label for="Price" class="form-label">Price</label>
         <input name="listing[price]" value="<%=listing.price%>" type="number" required  class="form-control">
       <div class="invalid-feedback">The price should be valid</div>
      </div>
        
    <div class="mb-3 col-md-8">    
       <label for="country" class="form-label">Country</label>
      <input name="listing[country]" value="<%=listing.country%>" type="text"  class="form-control">
       <div class="invalid-feedback">Country should be valid</div>
   </div>
  </div>
                   
      <div class="mb-3"> 
          <label for="Location" class="form-label">Location</label>
           <input name="listing[location]"  class="form-control" value="<%=listing.location%>" type="text"></div>
          
            
   <button class="btn btn-dark edit-btn">Edit</button>

    </form>
       </div> 
   </div>

</body>
</html> 